@import "/fonts/fonts.css";

/*************
Bootstrap configuration overrides must be BEFORE importing Bootstrap. 
List of options here: https://getbootstrap.com/docs/5.3/customize/options/
***************/



$font-family-sans-serif: 'Lato', system-ui, -apple-system, 'Segoe UI', sans-serif;
$font-size-base: 1.1rem;
$font-weight-base: 400;
$line-height-base: 1.6;

$headings-font-family: 'bc-barell', 'Roboto Slab', 'Lato', serif;
$headings-font-style: null;
$headings-font-weight: 400;
$headings-line-height: 1.2;
$headings-color: #404040;

$display-font-family: 'bc-barell','Crimson Text', 'Roboto Slab', Garamond, 'Times New Roman', serif;
$display-font-style:  null;
$display-font-weight: 300;
$display-line-height: $headings-line-height;

$small-font-size: .875em;

$table-cell-vertical-align: middle;
$table-bg:  transparent;

@import "bootstrap/scss/bootstrap"; /* Import all of Bootstrap’s Sass */




/***********
Any project-wide styles should go AFTER the Bootsrap import 
************/



html, body {
  height: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  background-color: #061637;
  overflow-x: hidden;
}


/* Break out of the centered container to full viewport width */
.full-bleed {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.crimson{
  font-family: 'Crimson Text', serif;
}


.hero {

  background-color: #000000;

  h1,p {
    position: relative;
    z-index: 2;
  }

  p{
    font-size: 1.2rem;
  }

  video{
    position:absolute;
    opacity: 0.5;
    z-index: 1;
    top:50%;
    left:50%;
    width:auto;
    height:100vh;
    transform: translate(-50%, -50%);
    @media (min-aspect-ratio:16/9){
      width: 100vw;
      height: auto;
    }
  }
}